* {
    margin: 0; 
    padding: 0;
    text-decoration: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    /* background: #333; */
    color: #fff;
    line-height: 1.6;
    height: 100vh;
    overflow: hidden;
}

.container {
    width: 100%;
    height: 100%;    
    /* CSS Smooth Scroll  */
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    /* CSS Smooth Scroll  */
    position: relative;
}
/* 헤더 설정 시작  */
header{
    position: relative;
}
.header-wrap{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    /* top: 25px;    */
}
/* 로고 부분 */
.logo{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo p{
    color: #000;
    text-transform: uppercase; 
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
}
.logo p:nth-child(1){
    font-weight: bold;
    font-size: 1.3rem;
}
/* 햄버거 메뉴 부분 - 수정 필요함*/
.menu-btn {
    position: absolute;
    z-index: 3;
    right: 45px;
    top: 40px;
    cursor: pointer;
    transition: all 0.5s ease-out; 
}
.menu-btn .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: #000;
    transition: all 0.5s ease-out; 
}
.menu-btn.close {
    transform: rotate(180deg); 
}
.menu-btn.close .btn-line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px); 
    background: #999999;
}
.menu-btn.close .btn-line:nth-child(2) {
    opacity: 0; 
}
.menu-btn.close .btn-line:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -6px); 
    background: #999999;
}
.menu {
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 0.9;
    visibility: hidden; }
.menu.show {
    visibility: visible; }
.menu-nav {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: rgba(0,0,0,0.8);
    list-style: none;
    transform: translate3d(0, -100%, 0);
    transition: all 0.5s ease-out; 
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.menu-nav.show {
    transform: translate3d(0, 0, 0);
    z-index: 999;
 }
.menu .nav-item {
    /* transform: translate3d(600px, 0, 0); */
    /* transition: all 0.5s ease-out; */
    display: flex;
    flex-direction: column;
    height: 55%;
}
.menu .nav-item .submenu ul li{
    padding: 10px 0;
}
.menu .nav-item.show {
    transform: translate3d(0, 0, 0); 
}
.menu .nav-item a {
    color: #f4f4f4; 
    font-weight: bold;
    padding: 0.5rem 0;
}
.menu .nav-link {
    display: inline-block;
    position: relative;
    font-size: 30px;
    text-transform: uppercase;
    padding: 1rem 0;
    font-weight: 300;
    color: #f4f4f4;
    text-decoration: none;
    /* transition: all 0.5s ease-out;  */
}
.menu .nav-link:hover{
    color: rgba(255,255,255,0.4);
    border-bottom: 1px solid #fff;
}
.menu .nav-item .submenu ul li a:hover{
    color: rgba(255,255,255,0.4);
}
/* .nav-item:nth-child(1) {
    transition-delay: 0.1s; }

.nav-item:nth-child(2) {
    transition-delay: 0.2s; }

.nav-item:nth-child(3) {
    transition-delay: 0.3s; }

.nav-item:nth-child(4) {
    transition-delay: 0.4s; }  
    
.nav-item:nth-child(5) {
    transition-delay: 0.5s; }
.nav-item:nth-child(6) {
    transition-delay: 0.6s; }       */
/* 헤더 설정 끝  */

/* 섹션 설정 시작 */
section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    scroll-snap-align: center;
}
section h1 {
    font-size: 4rem;
}
section h2 {
    font-size: 1.6rem;
}
section h3,
section p {
    font-size: 1.5rem;
}

/* 섹션별 설정 */
/*  1번 섹션: 메인: 왼쪽 텍스트, 오른쪽 유뷰트 광고영상 */
section#main { 
    flex-direction: row;
    justify-content: space-between;
} 
section#main .m_txt{
    width: 28%;
    height: 65%;
    font-family: 'S-CoreDream-6Bold';
    background-color: #a3041a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
section#main .m_txt h2{
    margin-right: 20px;
}
section#main .m_youtube{
    width: 70%;
    height: 65%;
    overflow: hidden;
}
section#main .m_youtube video{
    width: 100%;
}
/* 2번 섹션: 브랜드스토리: 화면중간 이미지, 이미지 상에 텍스트 */
section#brand{
    align-items: flex-end;
}
section#brand .b_pic{
    width: 100%;
    height: 85%;
    background : url('images/section002_bg002.jpg') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
section#brand .b_txt{
    width: 60%;
    height: 40%;
    border: 1px solid #f4f4f4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
}
section#brand .b_txt a{
    color: #fff;
    height: 40px; 
    width: 250px;   
    margin-top: 5%;
    text-align: center;
    border-bottom: 2px solid #fff;
}
section#brand .b_txt a:hover{
    font-weight: bold;
}
/*  3번 섹션: 컨텐츠: 화면 중간에 6개 박스 */
section#content {
    background : url('images/section003_bg.jpg') no-repeat center center/cover;
    color: #fff;
}
section#content .content_wrap{
    width: 1220px;
    height: 820px;
    font-size: 0;
}
section#content h2{
    width: 100%;
    height: 100px;
    text-align: center;
    line-height: 100px;
    font-size: 1.6rem;
}
section#content .content_pic{
    width: 100%;
    height: 720px;
    display: flex;
}

section#content .one{
    width: 500px;
    height: 720px;
    background: url(images/section003_content01.jpg) no-repeat;
}
section#content .two{
    width: 330px;
    height: 720px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
section#content .text_box{
    background-color: rgba(255,255,255,0.08);    
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
section#content .text_box p{
    font-size: 1.5rem;
    color: #fff;
}
section#content .text_box a{
    display: inline-block;
    font-size: 1.5rem;
    text-align: center;
    color: #fff;
    width: 80px;
    margin-top: 30px;
    margin-bottom: 20px;
    border-bottom: 2px solid #fff;
}
section#content .two .two_pic{
    height: 270px;
    background: url(images/section003_content02.jpg) no-repeat;
}
section#content .two .text_box{
    height: 450px;
}
section#content .three{    
    width: 370px;
    height: 720px;
    display: flex;
    flex-direction: column;
}
section#content .three .three_pic_t{
    height: 250px;
    background: url(images/section003_content03.jpg) no-repeat;
}
section#content .three .three_pic_b{
    height: 330px;
    background: url(images/section003_content04.jpg) no-repeat;
}
section#content .three .text_box{
    height: 140px;
}
section#content .three .text_box p{
    font-size: 1rem;
}
/*  4번 섹션: 메뉴: 왼쪽에 음식메뉴 총 4개, 오른쪽에 전체 사진 */
section#food .f_left{
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
}
section#food .f_left .f_left_wrap{
    width: 620px;
    height: 750px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 10%;
}
section#food .f_left h3{
    font-weight: 500;
    padding-left: 20px;
    padding-bottom: 25%;
}
section#food .f_left p{
    font-size: 1rem;
    padding-left: 10px;
}
section#food .f_left .f_left_wrap .f_l_top{
    height: 450px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
section#food .f_left .f_left_wrap .f_l_bottom{    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;    
}
section#food .f_left .f_left_wrap .f_l_bottom .food_box{
    width: 200px;
    height: 290px;
}
/* 오른쪽 풀 사이즈 사진 */
section#food .f_right{
    width: 50%;   
    height: 100vh; 
    background: url('images/section004_content05.jpg') no-repeat;
}
/*  5번 섹션: SNS: 인스트 사진 4장, 인스타연결, 하단에 푸터 */
section#sns{
    color: #000;
    flex-direction: column;
    justify-content: flex-end;
}
section#sns .sns_top{
    width: 1580px;
    height: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
section#sns .sns_top h2{
    text-align: center;
    text-transform: uppercase;
}
section#sns .sns_top .s_logo{
    display: flex;
    justify-content: center;
    margin: 20px auto;
}
section#sns .sns_top .s_logo img{
    margin-right: 20px;
}
section#sns .footer{
    width: 100%;
    height: 200px;
    background-color: #333;
}
/* 폰트 설정 */
@font-face { font-family: 'S-CoreDream-6Bold'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff'); font-weight: normal; font-style: normal; }